<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Products</title></head>
    <body>
        <div id="header">
            <h2>List of products</h2>
        </div>
        <table class="datatable" border="1">
            <tr>
                <th>Product Number</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <tr th:each="product : ${productList}">
                <td th:text="${product.productNumber}">product number</td>
                <td th:text="${product.name}">name</td>
                <td th:text="${product.price}">price</td>
                <td>
                    <form action="removeproduct" method="post">
                        <button type="submit" name="productnumber" th:value="${product.productNumber}">Remove product
                        </button>
                    </form>
                </td>
                <td>
                    <form action="addtocart" method="post">
                        <input type="hidden" name="productNumber" th:value="${product.productNumber}"/>
                        <input type="hidden" name="name" th:value="${product.name}"/>
                        <input type="hidden" name="price" th:value="${product.price}"/>
                        <button type="submit">Add</button>
                    </form>
                </td>

            </tr>
        </table>
        <br/>
        <form action="addproduct" method="get">
            <button type="submit">Add product</button>
        </form>

    </body>
</html>